@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/** Huisstijl kleur: #b7e1cd **/

:root {
    --color-primary-100:  #356837; 
    --color-primary-200:  #395f39; 
    --color-primary-300:  #7cb67a; 
    --color-primary-400:  #8fc08c; 
    --color-primary-500:  #a2cb9f; 
    --color-primary-600:  #b4d5b2; 
    /** CSS DARK THEME SURFACE COLORS */ 
    --color-surface-100:  #121212; 
    --color-surface-200:  #282828; 
    --color-surface-300:  #3f3f3f; 
    --color-surface-400:  #575757; 
    --color-surface-500:  #717171; 
    --color-surface-600:  #8b8b8b;  
    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100:  #191f19; 
    --color-surface-mixed-200:  #2e342e; 
    --color-surface-mixed-300:  #454a44; 
    --color-surface-mixed-400:  #5c615c; 
    --color-surface-mixed-500:  #757975;
    --color-surface-mixed-600:  #8f938f;  

    /** DEFINE STANDARD BACKGROUND/TEXT */
    background-color: var(--color-surface-100);
    line-height: 1.5;
    color: #eeeeee
    
    
  }
  
  * {
    font-family: 'Montserrat', sans-serif; /* Updated Font */
    font-weight: 400;
}


  body {
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-color: var(--color-bg-1);
    background-size: 100vw 100vh;
    background-image: var(--color-primary-600);
  }


/** DEFINE BUTTONS */
button {
  color: white;
  min-height: 20px;
  border-radius: 999px;
  background: var(--color-primary-500);
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 2px 10px;
  outline: 0 solid transparent;
  border: 0;
}    


button:hover {
  background: var(--color-primary-300);
  box-shadow: 0px 3px 5px rgba(0, 2, 1, 0.31)
}

input, textarea {
  color: white;
  min-height: 30px;
  border-radius: 10px;
  background: var(--color-surface-500);
  /* box-sizing: border-box; */
  font-size: 16px;
  margin: 10px auto;
  padding: 0 10px;
  outline: 0;
  border: 0;
}

textarea {
  padding-top: 10px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.712)
}

.card {
  padding: 20px;
  margin: 20px auto;
  place-items: center;
  text-align: center;
  background-color: var(--color-surface-200);
  border-radius: 10px;
  width: clamp(200px, 50%, 600px);
}


h1 {
  font-weight: bold;
}