{% extends "base.html" %}
{% block content %}
{% if true %}
<h1>Regalito de Margot</h1>
<p>
    Algún día Santa estaba pensando,<br>
    ¿qué te regalar? Me llevaste dudando.<br>
    ¿Qué se da a alguien que ya tiene todo<br>
    (y empieza una nueva lista cada día con "todo" 😉)?<br><br>

    De verdad, Santa te estuvo buscando por muchos días,<br>
    y recordó que no debía buscarte en tierras frías.<br>
    No estabas en el Norte, ni en otro rincón,<br>
    te encontró en Colombia, ¡su corazón!<br><br>

    Bailas entre montañas con gran alegría,<br>
    tu risa brillaba más que el día.<br>
    Santa se dijo: "Aquí quiero estar,<br>
    este es el hogar que debo buscar."<br><br>

    Porque mi casa en el Norte ya se termina,<br>
    el hielo se fue, por cambio del clima.<br>
    Por culpa de vuelos y tanto viajar,<br>
    por los holandeses que vienen a bailar.<br><br>

    Pero creo que te puedo perdonar,<br>
    porque, oye, lo vas a compensar.<br>
    Con un gesto noble y lleno de orgullo,<br>
    el Instituto de Comida Buena te lo agradece mucho.<br><br>

    No olvides que hay otras caridades,<br>
    como dar tu tiempo, lleno de bondades.<br>
    Una gran causa, y no tan distante,<br>
    es dedicarlo a tu novio, ¡muy importante!<br><br>

    Así decidí que te iba a dar,<br>
    algo perfecto para juntos pasar.<br>
    Una idea ideal para una pequeña cita<br>
    Para Thomas y tú, eres su tont...<br><br>
</p>
{% else %}
<p>No lo abras antes de Navidad!!</p>
{% endif %}


<button onclick="alert('Hola! Soy tu regalo. Consisto en ir al Caballo Podium de Pop una vez, finalmente. Y ya se han comprado los billetes para César Barrio del Sur.'); window.location.href='https://www.paard.nl/event/cesar-zuiderwijk-3/';">Abrir regalo</button>

<p>
    <br>
    S.P. Este sitio web todavía está en construcción, pero está abierto especialmente para este poema.
</p>


{% endblock %}
